[Unit]
Description=Lightweight and customizable notification daemon
After=sockets.target

[Service]
Type=simple
Restart=always
Environment=DISPLAY=:0
ExecStart=rm "-r /tmp/dunst-images"
ExecStart=/usr/sbin/dunst

[Install]
WantedBy=default.target
