[Unit]
Description=Lightweight and customizable notification daemon
After=sockets.target

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=DISPLAY=:0
ExecStart=/usr/sbin/dunst

[Install]
WantedBy=default.target
