[Unit]
Description=OfflineIMAP Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -l /dev/null

[Install]
WantedBy=multi-user.target

# [Service]
# KillSignal=SIGUSR2
# Restart=always
