/* ===================================================================
   ! On-screen Keyboard
   ===================================================================*/

#keyboard {
    border-image: url("background-assets/keyboard-bg.svg") 7;
}

.keyboard-layout {
    spacing: 8px;
    padding: 8px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    background-color: transparent !important;
    background-gradient-direction: none !important;
    border: none !important;
    border-radius: 0 !important;

    border-image: url("button-assets/button.svg") 7;
    padding: 16px;
    color: $text-primary;
    font-size: 12pt;
    font-weight: bold;

    &:hover {
        border-image: url("button-assets/button-hover.svg") 7;
    }

    &:checked,
    &:active {
        border-image: url("button-assets/button-pressed.svg") 7;
    }

    &:grayed {
        border-image: url("button-assets/button-insensitive.svg") 7;
        color: $text-disabled;
    }
}

.keyboard-subkeys {
    border-image: url("background-assets/popup.svg") 7;
    padding: 0;
    -arrow-border-radius: 0;
    -arrow-background-color: rgba(0, 0, 0, 0);
    -arrow-border-color: rgba(0, 0, 0, 0);
    -arrow-border-width: 1px;
    -arrow-base: 16px;
    -arrow-rise: 0;
    -boxpointer-gap: 2px;
}
