/* ===================================================================
   ! Panel
   ===================================================================*/

#panel {
    background-gradient-direction: none !important;
    background-color: transparent !important;
    border-bottom-width: 0 !important;
    border-image: url("panel-assets/panel-top.svg") 4;
    height: 2em;
    font-weight: bold;

    &.unlock-screen,
    &.lock-screen {
        background-color: transparent;
        border-image: url("panel-assets/panel-top.svg") 4;
    }

    &Left, &Center, &Right {
        spacing: 0;
    }

    &Activities {
        color: rgba(0, 0, 0, 0) !important;
        font-size: 0 !important;
        width: 24px;
        height: 24px;
        background-image: url("menu-icons/menu-6.svg");
        padding: 0 8px;
    }

    &Activities:overview {
        color: rgba(0, 0, 0, 0) !important;
        font-size: 0 !important;
        width: 24px;
        height: 24px;
        background-image: url("menu-icons/menu-6.svg");
        padding: 0 8px;
    }

    .panel-button {
        -natural-hpadding: 8px;
        -minimum-hpadding: 6px;
        font-weight: bold;
        color: $text-primary-invert;
        transition-duration: 0ms;
    }

    .panel-button:hover {
        border-image: url("panel-assets/panel-top-item.svg") 6;
    }

    .panel-button:active,
    .panel-button:overview,
    .panel-button:focus,
    .panel-button:checked {
        background-gradient-direction: none !important;
        background-color: transparent !important;
        box-shadow: inset 0 0 transparent !important;

        border-image: url("panel-assets/panel-top-item-active.svg") 6;
    }

    .panel-button:active   > .system-status-icon,
    .panel-button:overview > .system-status-icon,
    .panel-button:focus    > .system-status-icon,
    .panel-button:checked  > .system-status-icon {
        icon-shadow: transparent 0 0 0;
    }

    .panel-button .system-status-icon {
        icon-size: 16px;
        padding: 0 7px;
    }

    .panel-status-indicators-box,
    .panel-status-menu-box {
        spacing: 0;
    }

    .screencast-indicator {
        color: $warning;
    }

    .panel-corner {
        -panel-corner-radius: 0;
        -panel-corner-background-color: rgba(0, 0, 0, 0);
        -panel-corner-border-width: 0;
        -panel-corner-border-color: transparent;

        &:active, &:overview, &:focus {
            -panel-corner-border-color: rgba(0, 0, 0, 0);
        }

        &.lock-screen, &.login-screen, &.unlock-screen {
            -panel-corner-radius: 0;
            -panel-corner-background-color: transparent;
            -panel-corner-border-color: transparent;
        }
    }

    .panel-button .app-menu-icon {
        width: 0;
        -st-icon-style: symbolic;
        margin-left: 0;
        margin-right: 0;
    }

    .popup-menu-arrow {
        width: 0;
    }
}

.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button {
    color: $text-primary-invert;

    &:focus,
    &:hover,
    &:active {
        color: $text-primary-invert;
    }
}

#appMenu {
    spinner-image: url("misc-assets/process-working.svg");
    spacing: 4px;
    padding: 0 8px;
}

.clock-display {}
