/* desktop mode */
.nautilus-desktop.nautilus-canvas-item {
    background-color: alpha (#90b1c0, 0.001);
    color: @bg_color;
    text-shadow: 1 1 alpha (#000000, 0.8);
    border-radius: 20;
}

.nautilus-desktop.nautilus-canvas-item:active {
    background-image: none;
    background-color: alpha (#90b1c0, 0.001);
    border-radius: 20;
   color: #000000;
    text-shadow: 1 1 alpha (#f2f2f2, 0.2);

}

.nautilus-desktop.nautilus-canvas-item:selected {
    background-image: none;
    background-color: alpha (#90b1c0, 0.001);
    border-radius: 20;

   color: #000000;
    text-shadow: 1 1 alpha (#f2f2f2, 0.2);
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    background-color: alpha (#90b1c0, 0.001);
    border-radius: 20;
   color: #000000;
    text-shadow: 1 1 alpha (#f2f2f2, 0.2);

}

/* browser window */
NautilusTrashBar.info,
NautilusXContentBar.info,
NautilusSearchBar.info,
NautilusQueryEditor.info {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    border-radius: 0 0 0 15;

}

NautilusSearchBar .entry {

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#a6a6a6, 1.0)),
                                                 to (alpha (#a6a6a6, 1.0)));


    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#f2f2f2, 1.0)),
                                                 to (alpha (#f2f2f2, 1.0)));
    -unico-outer-stroke-width: 1;
    -unico-inner-stroke-width: 1 5 1 5;

    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (alpha (#dbdbdb, 1.0)),
                                     to (alpha (#dbdbdb, 1.0)));



}

.nautilus-cluebar-label {
    color: #363636;
    text-shadow: 0 1 shade (#dbdbdb, 1.0);
    font: bold;
}

#nautilus-search-button * {
    color: alpha (#363636, 0.7);
    text-shadow: 0 1 alpha (#dbdbdb, 0.4);
    /*icon-shadow: 0 1 alpha (#f2f2f2, 0.9);*/
}

#nautilus-search-button *:active,
#nautilus-search-button *:active:prelight,
#nautilus-search-button *:hover {
    color: alpha (#363636, 0.8);
    text-shadow: 0 1 shade (#dbdbdb, 1.0);

}

NautilusFloatingBar {
    background-color: @info_bg_color;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: darker (@info_bg_color);

    -unico-border-gradient: none;
}

NautilusFloatingBar .button {
    -GtkButton-image-spacing: 0;
    -GtkButton-inner-border: 0;
}

/* sidebar */
NautilusWindow .sidebar,
NautilusWindow .sidebar .view {

    background-color: alpha (#dbdbdb, 1.00);

}

NautilusWindow .sidebar .frame {

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#8fb0bf, 1.0)),
                                                 to (alpha (#8fb0bf, 1.0)));

    -unico-outer-stroke-gradient:  -gtk-gradient (linear, left top, left bottom,
                                                 from (alpha (#dbdbdb, 1.0)),
                                                 to (alpha (#dbdbdb, 1.0)));
    -unico-outer-stroke-width: 0;
    -unico-inner-stroke-width: 0;
    border-radius: 0;
    border-width: 0;
}

NautilusWindow > GtkTable > .pane-separator {
}
