*.zwc
99-trash*
MSGOTHIC.TTF
.fonts/1st-level/ttf-ms-win8.tar.xz
.icons/LibreOffice Pack Icons-0.3.6
.vim/undo
bin/trash
.zsh/cache
.pentadactyl/info/default*
bin/go/go-mtpfs
.themes/AquaMoss Pack/Wallpapers/GrungeSplatterMoss.png
.themes/bang_slimtheme/background.png
.fonts/MSGOTHIC.TTF
.themes/bang_slimtheme/background.png_bck
.themes/Valium/valium-preview.png
.vim/undo/%mnt%home%.wine%user.reg
.viminfo
