[submodule ".tmux/tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
	branch = master
[submodule "bin/neofetch"]
	path = bin/neofetch
	url = git@github.com:dylanaraps/neofetch
	branch = master
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".tmux/tmux-fingers"]
	path = .tmux/tmux-fingers
	url = https://github.com/Morantron/tmux-fingers
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = git://github.com/tmux-plugins/tmux-yank
