[user]
    name = Sergey Miroshnichenko
    email = serg.zorg@gmail.com
[core]
    #pager = vimpager
    pager =
[color]
    branch     = auto
    diff       = 1
    grep       = auto
    pager      = 0
    showbranch = auto
    status     = auto
    ui = auto

[color "status"]
    added     = 2 bold
    branch    = 100
    changed   = 4 bold
    header    = 23
    nobranch  = 197
    untracked = 240

[color "branch"]
    current = 23
    local   = 18 bold
    remote  = 17

[color "diff"]
    old        = 1
    new        = 23
    plain      = 7
    meta       = 18
    frag       = 67
    func       = 68
    commit     = 4
    whitespace = 54

[man]
    viewer = man
[receive]
    denyCurrentBranch = ignore
[core]
    excludesfile = /etc/gitignore
	editor = vim
[gui]
  fontui   = -family MonteCarlo -size -12 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family MonteCarlo -size -12 -weight normal -slant roman -underline 0 -overstrike 0
[alias]
    last = "!git log -7 HEAD --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"\\033[31m%s\\033[m \\033[32m%s\\033[m  %-.40s \\033[30;1m%s\\033[m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5 }';"
    co   = checkout
    ci   = commit
    st   = status
    pu   = push
    pl   = pull
    undo = checkout --
    log1 = log --
    whatthefuckdidido = diff HEAD
    sum  = git-summary
    effort  = git-summary
    styoyo = git-awesome-status
    l    = "!f () { git log --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-40s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5 }';}; f"
    ll   = "!f () { git log --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-50s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5 }';}; f"
    lll  = "!f () { git log --abbrev-commit --date=short --pretty=format:'%h%x00%cd%x00%s%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-80s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{79}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5 }'; }; f"
    lg40 = "!f () { git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-40s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }'; }; f"
    lg50 = "!f () { git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-50s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }'; }; f"
    lg80 = "!f () { git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' $@ | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-80s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{79}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }'; }; f"
    lo  = log --graph --pretty=format:'%C(Yellow)%h %C(Cyan)%ad %C(White)%s%C(Green)%d %C(Red)[%an]' --date=short
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
    d = difftool
[github]
    user  = neg-serg
[credential]
	helper = cache --timeout=3600
[push]
    default = simple
[diff]
	tool = ~neg/bin/scripts/wdiff_standalone
[difftool]
	prompt = false
[merge]
	tool = ~neg/bin/scripts/wdiff_standalone
[mergetool]
	prompt = false
