*.zwc
bin/lsp
99-trash*
MSGOTHIC.TTF
.fonts/1st-level/ttf-ms-win8.tar.xz
.icons/LibreOffice Pack Icons-0.3.6
.vim/undo
bin/trash
bin/go
.zsh/cache
.pentadactyl/info/default*
bin/go/go-mtpfs
.themes/AquaMoss Pack/Wallpapers/GrungeSplatterMoss.png
.themes/bang_slimtheme/background.png
.fonts/MSGOTHIC.TTF
.themes/bang_slimtheme/background.png_bck
.themes/Valium/valium-preview.png
.vim/undo/%mnt%home%.wine%user.reg
.vim/tmp/*
.viminfo
./1st_level
./dev
./doc
./dw
./games
./music
./pic
./st
./torrent
./vid
./trash
./bin/rtags
.config/z
.config/z107798146
.config/z151832623
.config/z884238480
.config/chromium
.vim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/easytag
.newsbeuter/cache.db
.vimperator/info/default/*
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/macros
.vimperator/info/*
.ghc/ghci_history
.mozilla
.vim/bundle/NeoBundle.lock
.vim/bundle/.neobundle/*
.ghc/ghci_history
.vim/.netrwhist
.newsbeuter/cache.db
.newsbeuter/history.cmdline
./.config/easytag/browser_path.history
./.config/easytag/easytagrc
./.config/gtk-2.0/gtkfilechooser.ini
.config/ranger/bookmarks
.config/ranger/history
.weechat/weechat.log
.weechat/logs/core.weechat.weechatlog
.vimv_history
.ghc/ghci_history
.newsbeuter/cache.db
.newsbeuter/history.cmdline
.config/ranger/bookmarks
.config/ranger/history
.notion/default-session--0/windowinfos.lua
.vim/bundle/*
