[submodule "tmux-ressurect"]
	path = tmux-ressurect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".tmux/tmux-ressurect"]
	path = .tmux/tmux-ressurect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
