*.zwc
bin/lsp
99-trash*
MSGOTHIC.TTF
.fonts/1st-level/ttf-ms-win8.tar.xz
.icons/LibreOffice Pack Icons-0.3.6
.vim/undo
bin/trash
.zsh/cache
.pentadactyl/info/default*
bin/go/go-mtpfs
.themes/AquaMoss Pack/Wallpapers/GrungeSplatterMoss.png
.themes/bang_slimtheme/background.png
.fonts/MSGOTHIC.TTF
.themes/bang_slimtheme/background.png_bck
.themes/Valium/valium-preview.png
.vim/undo/%mnt%home%.wine%user.reg
.vim/tmp/*
.viminfo
.vim/bundle/*
1st_level
dev
doc
dw
games
music
pic
st
torrent
vid
trash
bin/rtags
.config/z
.config/z107798146
.config/z151832623
.config/z884238480
