#include </home/neg/.config/xres/colors/current_colors>
#include </home/neg/.config/xres/xscreenserver>
#include </home/neg/.config/xres/xfontsel>
#include </home/neg/.config/xres/xterm_fix>
#include </home/neg/.config/xres/xresources_trash>
#include </home/neg/.config/xres/alsamixer>
#include </home/neg/.config/xres/bashpad>
#include </home/neg/.config/xres/emacs>
#include </home/neg/.config/xres/xrenoise>
#include </home/neg/.config/xres/colors/brenix_blue>
#include </home/neg/.config/xres/urxvt>
#include </home/neg/.config/xres/yeahconsole>
#include </home/neg/.config/xres/xmessage>
#include </home/neg/.config/xres/xpdf_xdvi>
#include </home/neg/.config/xres/ratmenu>
#include </home/neg/.config/xres/mpd-pad>
#include </home/neg/.config/xres/xv>
#include </home/neg/.config/xres/fonts>
