/* ===================================================================
 * ! Overview Background
 * ===================================================================*/
#overview {
    background-color: rgba(0, 0, 0, .4);
    background: #303030 url("overview-assets/overview-pattern.svg");
    background-repeat: repeat;
    spacing: 24px;
}
