@define-color notebook_tab_gradient_b shade (@bg_color, 0.98);

GeditWindow .pane-separator,
GeditWindow .pane-separator:hover {



}

GeditPanel.title GtkLabel {

    padding: 7px;

}

GeditPanel .search.toolbar {

    border-style: none;
    background-color: transparent;


}

GeditDocumentsPanel .view {


}

GeditDocumentsPanel .view:backdrop {



}

GeditWindow .notebook {

    padding: 10px;
    border-radius: 1px 25px 25px 25px;
}

GeditPanel .notebook {

    background-image: -gtk-gradient (linear,
                       left top, right bottom,
                       from (alpha (#dbdbdb, 1.0)),
                       to (alpha (#dbdbdb, 1.0))); 

 


    -unico-inner-stroke-width: 1;

    -unico-outer-stroke-width: 1;


    padding: 7px;
    border-radius: 15px 15px 15px 15px;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {

    padding: 2px;
    border-radius: 6px;
}


GeditPanel .notebook tab:active {


    padding: 2px;
    border-radius: 6px;

 




}




