"*":
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "git-plus"
      "merge-conflicts"
    ]
    followSymlinks: false
    projectHome: "/home/neg/dev/src/1st_level"
  editor:
    fontFamily: "PragmataPro for Powerline"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ab183f5f-63e4-5567-f7bd-38b4d9808499"
  "keyboard-localization": {}
  "tree-view":
    showOnRightSide: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
