/**************
 * Scrollbars *
 **************/

.scrollbar {
    -GtkRange-slider-width: 5;
    -GtkRange-stepper-size: 0;
    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-border: 3;

    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
    
    -GtkScrollbar-min-slider-length: 30;	
}

.scrollbar.trough.vertical {
    border-radius: 0px;
	border-width: 0px;
    background-image: -gtk-gradient (linear, left top, right top,
                                     from (shade (@bg_color, 1.00)),
                                     to (shade (@bg_color, 1.10)));

	-unico-outer-stroke-width: 0px;
	-unico-inner-stroke-width: 0px 0px 0px 1px;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.96)),
                                           to (shade (@bg_color, 0.96)));    
}

.scrollbar.trough.horizontal {
    border-radius: 0px;
	border-width: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@bg_color, 1.00)),
                                     to (shade (@bg_color, 1.10)));

	-unico-outer-stroke-width: 0px;
	-unico-inner-stroke-width: 1px 0px 0px 0px;
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@bg_color, 0.96)),
                                           to (shade (@bg_color, 0.96))); 
}

.scrollbar.slider,
.scrollbar.button {
    border-width: 0px;
    border-radius: 10px;
	background-color:         alpha (#eee, 0.25);
}

.scrollbar.slider:prelight {
	background-color:         alpha (#eee, 0.42);
}

.scrollbar.slider:insensitive {
    -GtkRange-slider-width: 0px;
}

.scrollbar.trough:insensitive {
    -GtkRange-trough-border: 3px;
}

/* overlay scrollbar */
OsThumb:selected,
OsScrollbar:selected {
    background-color: @selected_bg_color;
}

OsThumb:active,
OsScrollbar:active {
    background-color: shade (@bg_color, 0.6);
}

OsThumb:insensitive,
OsScrollbar:insensitive {
    background-color: shade (@bg_color, 0.85);
}
