UnityPanelWidget,
.unity-panel {

    /* background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (rgba(255,255,255,0.85)),                                     
                                     to (rgba(255,255,255,0.40))); */

    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.65)),                                     
                                     to (shade(@theme_bg_dark_color, 0.58)));

    border-width: 0px;
	border-style: none;

}

.unity-panel.menubar,
.unity-panel .menubar {
    
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0px;

    /* icon-shadow: 0 1 shade (@theme_bg_dark_color, 1.06); */
}

/*
.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@theme_bg_dark_color, 1.4)),
                                     to (shade (@theme_bg_dark_color, 1.02)));

    color: @fg_color;

    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@theme_bg_dark_color, 0.88)),
                                           to (shade (@theme_bg_dark_color, 0.9)));

    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@theme_bg_dark_color, 1.7)),
                                                 to (shade (@theme_bg_dark_color, 1.02)));
}
*/

