/* ===================================================================
   ! Password or Authentication dialog
   ===================================================================*/

.prompt-dialog {
    width: 500px;
    border: 0 transparent !important;

    .modal-dialog > * {
        padding-bottom: 0;
    }

    .modal-dialog > .modal-dialog-button-box {
        spacing: 0;
        margin: 0;
        padding: 16px;
        padding-bottom: 10px;
        padding-top: 6px;
    }

    &-main-layout {
        spacing: 24px;
        padding: 0;
    }

    &-message-layout {
        spacing: 16px;
        padding-bottom: 14px;
    }

    &-headline {
        font-size: 12pt;
        font-weight: bold;
        color: $text-primary;
    }

    &-description:rtl {
        text-align: right;
    }

    &-password-box {
        spacing: 1em;
        padding-bottom: 1em;
        font-size: 9pt;
    }

    &-error-label {
        font-size: 9pt;
        color: $warning-text;
    }

    &-info-label {
        font-size: 9pt;
        color: $accent;
    }

    &-null-label {
        font-size: 9pt;
        color: $accent;
    }

    StEntry {
        font-size: 8pt;

        &:focus {
            font-size: 8pt;
            font-weight: normal;
        }
    }
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
    spacing-columns: 1em;
}

.hidden { color: transparent; }
