/* ===================================================================
   ! Polkit dialog
   ===================================================================*/

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;

    &:rtl {
        padding-left: 0;
        padding-right: 10px;
    }
}

.polkit-dialog-user-root-label { color: $warning-text; }

.polkit-dialog-user-icon {
    border-radius: 0 !important;
    background-size: contain;
    @include size(48px);
}
